@mixin micro-clearfix {
  // For modern browsers
  &:before,
  &:after {
    content:"";
    display:table;
  }  &:after {
    clear:both;
  }
  // For IE 7 (trigger hasLayout)
  & {
    zoom:1;
  }
}

%last-child {
  & > *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}